node_modules/
dist/
.pnpm-store/
.DS_Store
.env
.env.local
.env.*.local
.firebase/
.wrangler/
.wrangler-build/
firebase-debug.log
firebase-debug.*.log
functions/.env
functions/.env.*
functions/node_modules/
